$background-color: linear-gradient(90deg, #339249 0%, #3929B7 100%);
$border-color: rgb(0, 0, 0);
$font-color: #ff0000;
$main-font: Arial, Helvetica, sans-serif;


%display-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly safe;
  align-items: center;
  align-content: space-around;
}


body {
    background: $background-color;
    resize: both;
    font-size: 30px;
    animation: Entrance 1s ease 0s 1 normal forwards;
    animation: Back 25s ease-in 0s 1 reverse forwards;
    /*animation: Exit 1s ease 0s 1 normal forwards;*/
    }

@keyframes Entrance {
    0% {
      transform: scale(0);
    }
    
    100% {
      transform: scale(1);
    }
}
@keyframes Back {
	0% {
		background-position: center top;
		background-size: 100%;
	}

	100% {
		background-position: center top;
		background-size: 150%;
	}
}
/*@keyframes Exit {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}*/

/*audio {
  
}*/




/* Elements */
main {
  margin-top: 25px;
}

header{
  color: red;
  background-color: black;
}

footer {
  color: red;
  background-color: #3e0e75b7;
}

nav {
  height: 15%;
  width: 100%;
  display: flex;
  border-bottom: 1px solid $border-color;
  
  button {
    padding: 3rem 2rem;
    width: 100%;
    height: 100%;
    background: #2975B7;
    font-size: large;
  }
}

table {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  resize: both;
}

tr {
  margin-bottom: 10px;
}



/* General */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #3C1986 0%, #9700F3 100%);
}
::-webkit-scrollbar-thumb {
  background: radial-gradient( #FF0061 0%, #6B1D9A 100%);
}
::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(#6B1D9A 0%, #FF0061 100%);
}

.date {
  font-size: medium;
  text-align: center;
}