@import 'standart';

.link-div {
    font-family: $main-font;
    padding: 2rem 2rem;
    @extend %display-flex;
  }
  
  .link {
    font-family: $main-font;
    flex: 0 1 auto;
  }
  
  #icon {
    order: 0;
    width: 8%;
  }
  
  #link {
    order: 1;
    width: 92%;
  }