<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link href="{% static 'main/style.css' %}" rel="stylesheet" />
        <meta charset="UTF-8" />
        <title>beats</title>
    </head>
    <body>
        <nav>
            <table width="100%">
                <tr width="100%">   
                    <th><form method="POST" action="{% url 'beats' %}" id="beats" width="50%"> <!-- href="{% get_static_prefix %}main/{{ project.name }}"> -->
                        {% csrf_token %}
                    </form>
                    <button type="submit" class="nav-button" form="beats" value="beats">beats</button></th>
                    <th><form method="POST" action="{% url 'releases' %}" id="releases" width="25%"> <!-- href="{% get_static_prefix %}main/{{ project.name }}"> -->
                        {% csrf_token %}
                    </form>
                    <button type="submit" class="nav-button" form="releases" value="beats">Fututre releases</button>
                    </th>
                    <th><form method="POST" action="{% url 'links' %}" id="links" width="25%"> <!-- href="{% get_static_prefix %}main/{{ project.name }}"> -->
                        {% csrf_token %}
                    </form>
                    <button type="submit" class="nav-button" form="links" value="beats">Links</button>
                    </th>
                </tr>
            </table>
        </nav>
        {% if beats %}
            <table>
                <thead>
                    <tr>
                        <th width="5%">

                        </th>
                        <th width="35%">
                            Track
                        </th>
                        <th width="40%">
                            Name
                        </th>
                        <th width="20%">
                            Licenses
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% load static %}
                    {% for beat in beats %}
                        <tr>
                            <th width="5%">
                                <!-- 
                                    In need of FileFields
                                <img src={{ beat.beatogg }} />     
                                -->
                                <img src="{% get_static_prefix %}main/media/{{ beat.name }}.mp3" />
                            </th>
                            <th width="35%">
                                <audio controls>
                                    <!-- 
                                        In need of FileFields
                                    <source src={{ beat.beatogg }} type="audio/ogg" />
                                    <source src={{ beat.beat }} type="audio/mpeg" />      
                                    -->
                                    <source src="{% get_static_prefix %}main/media/{{ beat.name }}.mp3" type="audio/mp3" />
                                    <source src="{% get_static_prefix %}main/media/{{ beat.name }}.ogg" type="audio/ogg" />
                                </audio>
                            </th>
                            <th width="40%">
                                <h3 class="beat-name">{{ beat.name }}</h3>
                                <h6 class="date">{{ beat.date }}</h6> 
                            </th>
                            <th width="20%">
                                <div class="container">
                                    {% if beat.lecense_mp3 %}
                                        <img src="{% get_static_prefix %}main/image/license_mp3.png" class="in-container" />
                                    {% endif %} 
                                    {% if beat.license_wav %}
                                        <img src="{% get_static_prefix %}main/image/license_wav.png" class="in-container" />
                                    {% endif %} 
                                    {% if beat.license_trackout %}
                                        <img src="{% get_static_prefix %}main/image/license_trackout.png" class="in-container" />
                                    {% endif %} 
                                    {% if beat.license_unlimited %}
                                        <img src="{% get_static_prefix %}main/image/license_unlimited.png" class="in-container" />
                                    {% endif %} 
                                    {% if beat.license_exclisive %}
                                        <img src="{% get_static_prefix %}main/image/license_exclisive.png" class="in-container" />
                                    {% endif %} 
                                </div>
                            </th>
                        </tr>
                    {% endfor %}    
                </tbody>        
            </table>
        {% else %}
            <h1>Nothing posted yet</h1>
        {% endif %}
    </body>
</html>