<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link href="{% static 'main/style.css' %}" rel="stylesheet" />
        <meta charset="UTF-8" />
        <title>Bits</title>
    </head>
    <body>
        <nav>
            <table width="100%">
                <tr width="100%">   
                    <th><form method="POST" action="{% url 'bits' %}" id="bits"> <!-- href="{% get_static_prefix %}main/{{ project.name }}"> -->
                        {% csrf_token %}
                    </form>
                    <button type="submit" class="nav-button" form="bits" value="bits">Bits</button></th>
                    <th><form method="POST" action="{% url 'releases' %}" id="releases"> <!-- href="{% get_static_prefix %}main/{{ project.name }}"> -->
                        {% csrf_token %}
                    </form>
                    <button type="submit" class="nav-button" form="releases" value="bits">Fututre releases</button>
                    </th>
                    <th><form method="POST" action="{% url 'links' %}" id="links"> <!-- href="{% get_static_prefix %}main/{{ project.name }}"> -->
                        {% csrf_token %}
                    </form>
                    <button type="submit" class="nav-button" form="links" value="bits">Links</button>
                    </th>
                </tr>
            </table>
        </nav>
        {% if bits %}
            <table>
                <thead>
                    <tr>
                        <th>
                            Track
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Licenses
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% load static %}
                    {% for bit in bits %}
                        <tr>
                            <th>
                                <audio controls>
                                    <!-- 
                                        In need of FileFields
                                    <source src={{ bit.bitogg }} type="audio/ogg">
                                    <source src={{ bit.bit }} type="audio/mpeg">      
                                    -->
                                    <source src="{% get_static_prefix %}main/media/{{ bit.name }}.mp3" type="audio/mp3">
                                    <source src="{% get_static_prefix %}main/media/{{ bit.name }}.ogg" type="audio/ogg">
                                </audio>
                            </th>
                            <th>
                                <!-- 
                                    In need of DateField
                                <h6 class="date">{{ bit.date }}</h6> 
                                -->
                            </th>
                            <th>
                                <div class="container">
                                    {% if bit.lecense_mp3 %}
                                        <img src="{% get_static_prefix %}main/image/license_mp3.png" class="in-container" />
                                    {% endif %} 
                                    {% if bit.license_wav %}
                                        <img src="{% get_static_prefix %}main/image/license_wav.png" class="in-container" />
                                    {% endif %} 
                                    {% if bit.license_trackout %}
                                        <img src="{% get_static_prefix %}main/image/license_trackout.png" class="in-container" />
                                    {% endif %} 
                                    {% if bit.license_unlimited %}
                                        <img src="{% get_static_prefix %}main/image/license_unlimited.png" class="in-container" />
                                    {% endif %} 
                                    {% if bit.license_exclisive %}
                                        <img src="{% get_static_prefix %}main/image/license_exclisive.png" class="in-container" />
                                    {% endif %} 
                                </div>
                            </th>
                        </tr>
                    {% endfor %}    
                </tbody>        
            </table>
        {% else %}
            <h1>Nothing posted yet</h1>
        {% endif %}
    </body>
</html>