<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link href="{% static 'main/style/main.css' %}" rel="stylesheet" />
        <meta charset="UTF-8" />
        <title>Main page</title>
    </head>
    <body>
        <header>
            <nav>
                <form method="POST" action="{% url 'beats' %}" id="beats" width="50%"> <!-- href="{% get_static_prefix %}main/{{ project.name }}"> -->
                    {% csrf_token %}
                    <button type="submit" class="nav-button" form="beats" value="beats">Beats</button>
                </form>
                <form method="POST" action="{% url 'tracks' %}" id="tracks" width="40%"> <!-- href="{% get_static_prefix %}main/{{ project.name }}"> -->
                    {% csrf_token %}
                    <button type="submit" class="nav-button" form="tracks" value="tracks">Tracks</button>
                </form>
                <form method="POST" action="{% url 'releases' %}" id="releases" width="10%"> <!-- href="{% get_static_prefix %}main/{{ project.name }}"> -->
                    {% csrf_token %}
                    <button type="submit" class="nav-button" form="releases" value="releases">Fututre releases</button>
                </form>
                <form method="POST" action="{% url 'links' %}" id="links" width="25%"> <!-- href="{% get_static_prefix %}main/{{ project.name }}"> -->
                    {% csrf_token %}
                    <button type="submit" class="nav-button" form="links" value="links">Links</button>
                </form>
            </nav>
        </header>
        <main>
            <h1 class="name"></h1>
            <h3 class="description">Welcome to the website!</h3>
        </main>
    </body>
</html>