/*$hover-difference: 20;
$nav-background-color: linear-gradient(90deg, #3C1986 0%, #9700F3 100%);*/
/*
@mixin change-color($default1, $default2, $difference) {
  background-color: linear-gradient(90deg, $default1 - $difference 0%, $default2 - $difference2 100%);;
}*/
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-around; }

body {
  background: linear-gradient(90deg, #339249 0%, #3929B7 100%);
  resize: both;
  font-size: 30px;
  animation: Entrance 1s ease 0s 1 normal forwards;
  animation: Back 25s ease-in 0s 1 reverse forwards;
  /*animation: Exit 1s ease 0s 1 normal forwards;*/ }

@keyframes Entrance {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes Back {
  0% {
    background-position: center top;
    background-size: 100%; }
  100% {
    background-position: center top;
    background-size: 150%; } }
/*@keyframes Exit {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}*/
/*audio {
  
}*/
/* Elements */
main {
  margin-top: 25px; }

header {
  color: red;
  background-color: black; }

footer {
  color: red;
  background-color: #3e0e75b7; }

nav {
  height: 5%;
  width: 100%;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  justify-content: space-evenly;
  gap: 2rem; }
  nav button {
    flex: 1 1 auto;
    padding: 1.5rem 5rem;
    border: 2px solid black;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #3C1986 0%, #9700F3 100%);
    color: wheat;
    font-size: 25px; }
    nav button:hover {
      background: linear-gradient(90deg, #1e0d42 0%, #6601a5 100%); }

table {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  resize: both; }

tr {
  margin-bottom: 10px; }

a {
  text-decoration: none;
  font-weight: 400;
  color: aliceblue; }

/* scrollbar */
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #3C1986 0%, #9700F3 100%); }

::-webkit-scrollbar-thumb {
  background: radial-gradient(#FF0061 0%, #6B1D9A 100%); }

::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(#6B1D9A 0%, #FF0061 100%); }

.date {
  font-size: medium;
  text-align: center; }

.link {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  text-align: center; }

.card-display {
  border-radius: 50px;
  background: radial-gradient(black -10%, transparent 100%);
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between; }

.link-card {
  aspect-ratio: 1.6 / 1;
  border: 0.5vmin solid black;
  width: 25vmin;
  cursor: pointer;
  position: relative; }
  .link-card :before {
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    transition: background-position 350ms ease;
    z-index: 1;
    background: linear-gradient(130deg, transparent 0% 33%, purple 66%, red 83.5%, yellow 100%);
    background-size: 300% 300%;
    background-position: 0% 0%; }
  .link-card :hover:before {
    background-position: 100% 100%;
    transform: scale(1.08, 1.03); }
  .link-card :hover.card-content {
    background-position: -10% 0%; }

.card-content {
  background: radial-gradient(rgba(255, 255, 255, 0.2) 8%, transparent 8%);
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  height: calc(100% - 10vmin);
  padding: 5vmin;
  position: relative;
  width: calc(100% - 10vmin);
  transition: background-position 350ms ease;
  align-content: center;
  z-index: 1; }

/*# sourceMappingURL=links.css.map */
