@import 'standart';

  main {
    background: scroll;
  }

  .release-row {
    @extend %display-flex;
    margin-bottom: 20px;
    border: $border-color 10px;
    background: radial-gradient(
      $border-color -10%,
      transparent 100% 
    );
    width: 100%;
    height: 20%;
    justify-content: space-evenly;
    color: wheat;
  }

  .release-date {
    flex: 1 1 auto;
  }

  .release-name-div {
    flex: 14 1 auto;
  }

  .name {
    text-align: center;
    font-family: $main-font;
  }

  .description {
    font-size: larger;  
    height: 100%;
    font-family: $main-font;
  }