<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link href="{% static 'main/style/releases.css' %}" rel="stylesheet" />
        <meta charset="UTF-8" />
        <title>Future releases</title>
    </head>
    <body>
        <nav>
            <form method="POST" action="{% url 'beats' %}" id="beats" width="50%"> <!-- href="{% get_static_prefix %}main/{{ project.name }}"> -->
                {% csrf_token %}
                <button type="submit" class="nav-button" form="beats" value="beats">Beats</button>
            </form>
            <form method="POST" action="{% url 'releases' %}" id="releases" width="25%"> <!-- href="{% get_static_prefix %}main/{{ project.name }}"> -->
                {% csrf_token %}
                <button type="submit" class="nav-button" form="releases" value="beats">Fututre releases</button>
            </form>
            <form method="POST" action="{% url 'links' %}" id="links" width="25%"> <!-- href="{% get_static_prefix %}main/{{ project.name }}"> -->
                {% csrf_token %}
                <button type="submit" class="nav-button" form="links" value="beats">Links</button>
            </form>
        </nav>
        <main>
            {% if news %}
                {% load static %}
                {% for release in news %}
                    <div class="release-row">
                        <h5 class="release-date">{{ release.date }}</h5>
                        <div class="release-name-div">
                            <h3 class="name">{{ release.name }}</h3>
                            <h6 class="description">{{ release.description }}</h6>
                        </div>
                    </div>
                {% endfor %}   
            {% else %}
            <h1>Nothing posted yet</h1>
            {% endif %}
        </main>
        <footer>
            
        </footer>
    </body>
</html>